@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #333333;
    color: #F88C26;
    font-family: "Quantico", sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

body * {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    top: 0;

    background-color: black;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

section div {
    border-radius: 5px;
    margin: 5px 10px;
    padding-inline: 30px;
    background-color: #222222;
    display: inline-block;
    align-content: center;
    justify-content: space-around;
    text-align: center;
}

@media screen and (min-width: 520px) {
    section {
        flex-direction: row;
    }
}